.tracklist {
    position: fixed;
    opacity: 0.9;
    z-index: 20;
    top: 10%;
    left: 10%;
    width: 80%; 
    height: 80%;
    color: white;
    background: #121212;
    overflow-y: scroll;
    font-size: 3rem;
}

.close-btn {
    position: fixed;
    top: 10%;
    font-size: 3rem;
    color: #fff;
    padding: 1rem;
}

.add-svg {
    color: wheat;
}

.add-svg:hover {
    color: #fff;
}


.tracklist-header {
    font-size: 3rem;
    color: wheat;
}