.info {
  display: flex;
  flex-direction: column;
  margin: 3rem;
  justify-content: space-around;
  height: 35rem;
  font-size: 2rem;
}

.info p {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
