.header {
    display: flex;
    flex-direction: column;

    min-height: 45vh;
    width: 100%;

    position: fixed;
    top: 0;
    overflow: hidden;
    z-index: 10;

    font-size: 4em;
    font-weight: 300;
    
    background-image: url(../img/pexels-suzy-hazelwood-2718571.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    transition: 0.7s;
}

.shrink {
    min-height: 5vh;
    height: 3em;

    font-size: 1.5em;
    font-weight: 200;

    overflow: hidden;
    z-index: 10;
}

.title, .subtitle {
    margin-left: 2rem;
    width: fit-content;
}

.bg-color {
    background-color: black;
}
