.release-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.hide-loader {
  display: none;
}

@media screen and (min-width: 1500px) {
  .release-container {
    width: 140rem;
    margin: auto;
  }
}
