* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10px, 10px/16px = 62.5% */
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;

  color: wheat;
  background-color: rgb(33, 33, 33);
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

table {
  border-collapse: collapse;
  width: 90%;
  margin-top: 2rem;
  margin-bottom: 10rem;
  margin-left: 5%;
  font-size: initial;
}

table tr:not(:last-of-type) {
  border-bottom: 1px solid #282828;
}

table td {
  padding: 5px 0;
}

main {
  width: 100vw;
}

.error {
  height: 15rem;
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/* .release-links {
  display: flex;
  flex-direction: column;
  font-size: 4rem;
} */

.spotify-btn {
  background: #1db954;
  border-radius: 20px;
  width: 25rem;
  height: 4rem;
  margin: 1rem;
  color: white;
  border: none;
  transition: 0.3s ease all;
  letter-spacing: 3px;
}

.spotify-btn:focus {
  outline: none;
}

@media (hover: hover) {
  .spotify-btn:hover {
    color: black;
    cursor: pointer;
  }
  a:hover {
    color: white;
  }
}

.spotify-btn:active {
  color: black;
  cursor: pointer;
}
a:active {
  color: white;
}
